@using StoreMap.Data.Dtos

<div class="store-shape @shapeClassName">
</div>

<Styled @bind-Classname="@shapeClassName">
    position: absolute;
    left: @(Data.X + "px");
    top: @(Data.Y + "px");
    background: @Data.Color;
    @Data.GetShapeStyles
</Styled>

@code {
    private string shapeClassName;
        
    [Parameter] public StoreObjectDto Data { get; set; }
}