@page "/map"
@using StoreMap.Data.Dtos
@using StoreMap.Logic.ServiceContracts
@using System
@using StoreMap.Data.Enums
@using StoreMap.Data.Factory
@inject IStoreObjectService storeObjectService
@inject IBrowserService browserService

<div class="map-edit-controls">
    <RadioGroup @bind-Value="shapeType" size="large">
        <Radio RadioButton Value="@ShapeType.Rect">Rectangle</Radio>
        <Radio RadioButton Value="@ShapeType.Circle">Circle</Radio>
    </RadioGroup>
</div>

<div id="map-drawing" class="map" @onclick="StartDraw" @onmousemove="UpdateDrawingShape">
    @foreach (var obj in storeObjects)
    {
        <StoreShape Data="@obj" @key="@obj"></StoreShape>
    }
    
    @if (drawShape != null)
    {
        <StoreShape Data="@drawShape"></StoreShape>
    }
</div>

<style>
.map {
    border: 1px solid black;
    position: relative;
    width: 100%;
    height: 80vh;
    cursor: crosshair;
}
</style>

@code {
    private List<StoreObject> storeObjects = new List<StoreObject>();
    private StoreObject drawShape;
    private RectPosition mapPosition;
    private ShapeType shapeType = ShapeType.Rect;

    protected override void OnInitialized()
    {
        storeObjects = storeObjectService.GetStoreObjects();
    }

    private async Task StartDraw(MouseEventArgs e)
    {
        if (drawShape != null)
        {
            storeObjects.Add(drawShape);
            drawShape = null;
            return;
        }
        
        mapPosition = await browserService.GetElementPosition("map-drawing");
        drawShape = ShapeFactory.CreateShape(
            shapeType, 
            (int) e.ClientX - mapPosition.Left, 
            (int) e.ClientY - mapPosition.Top);
        Console.WriteLine($"Starting drawing: {drawShape.X}:{drawShape.Y}");
    }

    private void UpdateDrawingShape(MouseEventArgs e)
    {
        if (drawShape == null)
        {
            return;
        }
        
        drawShape.UpdateSize((int)e.ClientX - mapPosition.Left, (int)e.ClientY - mapPosition.Top, mapPosition);
    }
}