@page "/stores"
@using StoreMap.Logic.ServiceContracts
@using StoreMap.Data.Dtos
@inject IStoreService storeService

@if (stores == null)
{
    <Spin size="large" />
    return;
}

<AntList DataSource="@stores"
         Item="@RenderItem"
         ItemLayout="@AntDirectionVHType.Horizontal">
</AntList>

@code {
    private List<StoreDto> stores;

    private RenderFragment RenderItem(StoreDto listItem)
    {
        RenderFragment edit = @<NavLink href="@($"stores/{listItem.Id}/edit")">
                                  <span class="nav-text">Edit</span>
                              </NavLink>;

        return @<AntListItem Actions="@(new List<RenderFragment>(new[] { edit }))">
                   <NavLink href="@($"stores/{listItem.Id}")">
                       <span class="nav-text">@listItem.Name</span>
                   </NavLink>
               </AntListItem>;
    }

    protected override async Task OnInitializedAsync()
    {
        stores = await storeService.GetAllStores();
    }

}